<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965503651242-ip1k8914uo28k0mjdmotds310d4bmgd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965503651242-ip1k8914uo28k0mjdmotds310d4bmgd5</string>
	<key>API_KEY</key>
	<string>AIzaSyDTEJzMfOV6JqeEXrT_sZC0k7tHtK8xCRw</string>
	<key>GCM_SENDER_ID</key>
	<string>965503651242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyenluc.ReminderFirebase</string>
	<key>PROJECT_ID</key>
	<string>reminderfirebase-f3271</string>
	<key>STORAGE_BUCKET</key>
	<string>reminderfirebase-f3271.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965503651242:ios:18dbc99414710c4a</string>
	<key>DATABASE_URL</key>
	<string>https://reminderfirebase-f3271.firebaseio.com</string>
</dict>
</plist>